.owl-item {
  width: 210px !important;
}
.product-container {
  padding: 0;
  position: relative;
  margin: 5px 2px;
  float: left;
  transition-duration: 0.4s;
  border-radius: 5px;
  animation: winanim 0.5s ;
}
header .page-brand .brand-mini{display:none}
li {
  color: #fff;
}

.deal-item {
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.deal-item:hover {
  margin-top: -10px;
  margin-bottom: 30px;
  box-shadow: 0px 6px 0px 0px #253544;
}
.deal-item .deal-content {
  padding: 10px;
}
.deal-item .deal-content h6 {
  margin-top: 0px;
}
.deal-item .deal-content h6 a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #3a3b3c;
  font-weight: bold;
}
.deal-item .deal-content p {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.deal-item .deal-content .deal-content-bottom {
  display: block;
  overflow: hidden;
}
.deal-item .deal-content .deal-content-bottom p {
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #253544;
  margin-bottom: 0px;
  margin-top: 8px;
}
.deal-item .deal-content .deal-content-bottom a {
  float: right;
  background-color: #253544;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.deal-item .deal-content .deal-content-bottom a:hover {
  color: #253544;
  background-color: #ffffff;
}
.deal-item .deal-thumb {
  position: relative;
  height: 180px;
}
.deal-item .deal-thumb img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  width: 100%;
}
.deal-item .deal-thumb .deal-badge {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #3a3b3c;
  color: #ffffff;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  line-height: 21px;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);
  clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);
}

.deal-item .tooltip.top {
  margin-top: -13px;
}
.deal-item .tooltip {
  position: relative;
  float: right;
}
.deal-item .tooltip .tooltip-inner {
  background-color: #3a3b3c;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  padding: 5px;
}
.deal-item .tooltip.top .tooltip-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3a3b3c;
}
.owl-carousel.owl-theme .owl-nav {
  position: relative;
  z-index: 2;
  top: -200px;
}
.owl-carousel.owl-theme .owl-nav .owl-prev {
  font-size: 24px;
  line-height: 36px;
  color: #5677fc;
  font-weight: bold;
  float: left;
  margin-left: -60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.owl-carousel.owl-theme .owl-nav .owl-prev:hover {
  color: #ffffff;
  background-color: #5677fc;
}
.owl-carousel.owl-theme .owl-nav .owl-next {
  font-size: 24px;
  line-height: 36px;
  color: #5677fc;
  font-weight: bold;
  float: right;
  margin-right: -60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 23.4px 2.6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.owl-carousel.owl-theme .owl-nav .owl-next:hover {
  color: #ffffff;
  background-color: #5677fc;
}
.new-coupon-wrapper {
  background-color: #fbf8f8;
  padding: 50px 0px;
}
.new-coupon-wrapper .owl-stage-outer {
  padding-top: 10px;
}
.popular-coupon-wrapper {
  padding: 50px 0px;
}
.popular-coupon-wrapper .owl-stage-outer {
  padding-top: 10px;
}
.coupon-item {
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.coupon-item:hover {
  margin-top: -10px;
  margin-bottom: 30px;
  box-shadow: 0px 6px 0px 0px #5677fc;
}
.coupon-item:hover .coupon-thumb a {
  visibility: visible;
}
.coupon-item:hover .coupon-thumb img {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
}
.coupon-item .coupon-thumb {
  position: relative;
  height: 180px;
}
.coupon-item .coupon-thumb a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.coupon-item .coupon-thumb img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  width: 100%;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
 .modal-footer {
    display: none;
  }
.single-coupon-thumb {
    margin-bottom: 20px;
} 
.single-coupon-thumb img {
 display: block;
 margin: 0 auto;
 height: 200px;
 width: auto;
}

.btn-brand {
  background-color: #374F65;
  color: #ffffff;
  border-color: #374F65;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.modal-dialog {
    display: none;
}


.popup .content {
    display: none;
    max-height: 30%;
    overflow: auto;
    text-align: center;
  }

 
 

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow: scroll;

  }

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
 }
 
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  }
.popup .close {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #E0D636;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


.overlay .popup .text {
    margin:10px auto;
    font-size:25px;
    font-family: 'Old Standard TT', serif;
    color:#5F9EA0;
    text-align: center;
    
}
.overlay .popup .result-img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    display: block;
}
